.navigation_items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.navigation__link {
  display: flex;          
  align-items: center;    
  gap: 10px;              
  text-decoration: none;  
  font-size: 26px;
  font-weight: 600;
  color: black;
}

.navigation__link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.navigation__link img {
  display: block;         
  height: 1em;            
  width: auto;
}

.navigation__link:hover {
  color: #555;
}

.navigation__link:active {
    color: #555;
}