.custom-toggle-btn {
  background-color: transparent !important; 
  border: 1px solid #ccc !important; 
  color: black !important; 
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}


.custom-toggle-btn:hover {
  background-color: rgba(0, 0, 0, 0.05) !important; 
  border-color: #888 !important;
}

.custom-toggle-btn.active {
  background-color: transparent !important; 
  border-color: #0d6efd !important; 
  color: #0d6efd !important; 
  font-weight: bold;
  z-index: 1; 
}
