.searchbar_wrapper {
    display: flex;
    justify-content: center;
    margin: 20px auto 0px auto;
    width: 60%;
    margin-top: 20px;
}

.search_bar_input {
    width: 60%;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 30px;
    font-size: 22px;
}


.search_bar_input::placeholder {
  color: black;
}

.search_bar_input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
}

.searchbar_wrapper button {
    margin-left: 10px;
    border: none;
    background-color: red;
    font-size: 22px;
    border-radius: 30px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.13);
}

.searchbar_wrapper button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    scale: 1.05;
    transition: all 0.3s ease;
}


@media (max-width: 800px) {
    .search_bar_input {
        width: 100%;
    }
    .searchbar_wrapper {
        width: 90%;
    }
}