@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  
  background: #c31432;  
  background: -webkit-linear-gradient(to right, #240b36, #c31432); 
  background: linear-gradient(to right, #240b36, #c31432); 
  
  

  height: 1000vh;
  

  font-family: 'Poppins'  , sans-serif;
  color: black;
}

